APP_PORT=8080
VITE_PORT=5173
DB_PORT=5432

POSTGRES_DB=ai2_projekt
POSTGRES_USER=ai2_user
POSTGRES_PASSWORD=ai2_secret

USER_SEED_NAME=User
USER_SEED_EMAIL=user@example.com
USER_SEED_PASSWORD=123

GTFS_FEED_URL=https://www.mpkrzeszow.pl/gtfs-pks/latest.zip
