APP_PORT=8080
VITE_PORT=5173
DB_PORT=5432

POSTGRES_DB=ai2_projekt
POSTGRES_USER=ai2_user
POSTGRES_PASSWORD=ai2_secret

APP_KEY=

ADMIN_SEED_NAME=Admin
ADMIN_SEED_EMAIL=admin@example.com
ADMIN_SEED_PASSWORD=123
