APP_PORT=8080
VITE_PORT=5173
DB_PORT=5432
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@local.dev
PGADMIN_DEFAULT_PASSWORD=admin

POSTGRES_DB=ai2_projekt
POSTGRES_USER=ai2_user
POSTGRES_PASSWORD=ai2_secret

APP_NAME=AI2
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_KEY=

DB_CONNECTION=pgsql
DB_HOST=db
DB_DATABASE=ai2_projekt
DB_USERNAME=ai2_user
DB_PASSWORD=ai2_secret

GTFS_FEED_URL=https://www.mpkrzeszow.pl/gtfs/latest.zip
GTFS_WORK_DIR=gtfs
VITE_API_URL=http://localhost:8080/api

ROUTE_PLANNER_URL=http://route-planner:8000

ORS_BASE_URL=https://api.openrouteservice.org
ORS_API_KEY=
